<div class="single-column">

	<div class="form-wrapper">
		<h1>GraphWiki</h1>
		<form>
			<input type="text" ng-model="wikiSearch" placeholder="Search Wikipedia" typeahead="suggest for suggest in searchSuggests" typeahead-on-select="searchWiki()" class="form-control">
		</form>
	</div>
	
	<div class="loader" ng-show="loading">
		<div class="clock"></div>
	</div>

	
	<div class="wiki-text">
		<div ng-bind-html="wikiText"></div>
	</div>

	<canvas id="viewport" width="800" height="600"></canvas>

	<span id="forkongithub"><a href="https://github.com/smothers/graphwiki">Fork me on GitHub</a></span>
</div>
