<div class="single-column">
    <h1>GraphWiki</h1>

    <div class="form-wrapper">
        <form ng-submit='searchWiki()'>
            <input type="text" ng-model="wikiSearch" placeholder="Search Wikipedia" typeahead="suggest for suggest in searchSuggests" class="form-control">
            <!-- <input type="submit" id="submit" class="main-button" value="Submit"> -->
        </form>
    <div>

    <div ng-bind-html="wikiText"></div>

    <canvas id="viewport" width="800" height="600"></canvas>

</div>


<span id="forkongithub"><a href="https://github.com/smothers/graphwiki">Fork me on GitHub</a></span>